/* App.css */
body {
  font-family: Arial, sans-serif;
  /* padding: 20px; */
  background-image: url('/public/img/travel.jpg');
  background-size: cover;
}

nav {
  /* margin-bottom: 20px; */
  background-color: #000000;
  padding: 15px;
}


h1{
  text-align: center;
}

nav a {
  margin-right: 50px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

/*=== HOME PAGE === */

.home{
  color: white;
  margin-top: 50px;
}
.main{
  display: flex;
  width: 80vw;
  margin: auto;
  margin-top: 50px;
}

.main img{
  width: 333px;
}

p{
  text-align: center;
  font-weight:500;
  font-size: 20px;
}

/* === ADD ENTRIES */

h2{
  color: white;
  margin-top:50px ;
}
.div{
  color: white;
  text-align: center;
  margin-top:50px ;
}
form {
  max-width: 400px;
  margin: 0 auto;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.entry {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.entry h3 {
  margin: 0 0 10px 0;
}

.entry button {
  margin-right: 10px;
}
